{% extends 'appoint/base.html' %} 

{% block content %}
<section class="ftco-section ftco-no-pt ftco-no-pb">
<div class="container px-md-0">
    <div class="row d-flex no-gutters">
        {% for p in packages %}
        <div class="col-md-3 pricing">
            <div class="row no-gutters align-items-center">
                <div href="{{p.image.url}}" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url({{p.image.url}});">
                    <div class="text p-4 ftco-animate">
                        <h3>{{p.name}}</h3>
                        <ul>
                            <li><span>Photos</span>Package of {{p.items}}</li>
                            <li><span>Processing</span>{{p.process}}</li>
                            <li><span>Type of Camera</span>{{p.type_of_camera}}</li>
                            <li><span>Term</span>{{p.term}} Days</li>
                        </ul>
                        <span class="price">${{p.price}}</span>
                        <p><a href="{% url 'date_time' p.id %}" class="btn-custom">Choose</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>
                        {% endblock %}